
*.zip
_documentacion/1ª versión.docx
practica2comercio/git.txt
practica2comercio/tuinformatico.sql
temp/prueba.html
practica2comercio/otra forma/
temp/insert preparado mysql.php
temp/login.php
temp/prueba2.html
temp/selectPDO.php
