 
ul.nuestromenu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.nuestromenu li {
  float: left;
}

ul.nuestromenu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nuestromenu  li a:hover {
  background-color: #28a745;
  color: white;
}
a.nuestromenus_activado:link{
  background-color: gray;
  color: white;
}